In [1]:
!ls input/

sample_submit.tsv  train_A.tsv	train_B.tsv  train_C.tsv  train_D.tsv

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('input/train_B.tsv', sep='\t')

In [4]:
data.head

<bound method NDFrame.head of            user_id  product_id  event_type  ad               time_stamp
0        0000000_B  00004491_b           1  -1  2017-04-01 03:57:12.488
1        0000000_B  00004491_b           1  -1  2017-04-01 10:15:21.492
2        0000000_B  00004491_b           1  -1  2017-04-01 03:56:31.945
3        0000000_B  00004491_b           1  -1  2017-04-24 03:36:28.216
4        0000000_B  00009992_b           1  -1  2017-04-01 10:18:00.540
...            ...         ...         ...  ..                      ...
1113420  0023498_B  00014942_b           1  -1  2017-04-25 05:38:05.889
1113421  0023498_B  00009823_b           1  -1  2017-04-28 00:40:57.531
1113422  0023498_B  00004706_b           1  -1  2017-04-28 00:31:15.306
1113423  0023498_B  00004706_b           1  -1  2017-04-28 00:25:47.358
1113424  0023498_B  00000148_b           1  -1  2017-04-28 00:17:56.048

[1113425 rows x 5 columns]>

In [6]:
data.head()

     user_id  product_id  event_type  ad               time_stamp
0  0000000_B  00004491_b           1  -1  2017-04-01 03:57:12.488
1  0000000_B  00004491_b           1  -1  2017-04-01 10:15:21.492
2  0000000_B  00004491_b           1  -1  2017-04-01 03:56:31.945
3  0000000_B  00004491_b           1  -1  2017-04-24 03:36:28.216
4  0000000_B  00009992_b           1  -1  2017-04-01 10:18:00.540

In [7]:
data.dtypes

user_id       object
product_id    object
event_type     int64
ad             int64
time_stamp    object
dtype: object

In [8]:
ts = pd.to_datetime(data['time_stamp'])

Max = max(ts)
Min = min(ts)

In [9]:
print(Max-Min)

29 days 23:59:56.287000

In [10]:
users = data['user_id'].unique()
users

array(['0000000_B', '0000196_B', '0000306_B', ..., '0010566_B',
       '0006446_B', '0023498_B'], dtype=object)

In [11]:
len(users)

23843

In [12]:
data['event_type'].value_counts()

1    1035637
0      52639
3      21710
2       3439
Name: event_type, dtype: int64

In [13]:
data['time_stamp'] = ts

In [14]:
data['time_stamp'].dtype

dtype('<M8[ns]')

In [15]:
ts

0         2017-04-01 03:57:12.488
1         2017-04-01 10:15:21.492
2         2017-04-01 03:56:31.945
3         2017-04-24 03:36:28.216
4         2017-04-01 10:18:00.540
                    ...
1113420   2017-04-25 05:38:05.889
1113421   2017-04-28 00:40:57.531
1113422   2017-04-28 00:31:15.306
1113423   2017-04-28 00:25:47.358
1113424   2017-04-28 00:17:56.048
Name: time_stamp, Length: 1113425, dtype: datetime64[ns]

In [16]:
data_u = data.groupby('user_id').apply(lambda x: x.sort_values('time_stamp'))

In [17]:
data_u

                    user_id  product_id  event_type  ad  \
user_id
0000000_B 28      0000000_B  00013403_b           1  -1
          2       0000000_B  00004491_b           1  -1
          0       0000000_B  00004491_b           1  -1
          12      0000000_B  00011210_b           1  -1
          11      0000000_B  00011210_b           1  -1
...                     ...         ...         ...  ..
0023842_B 663815  0023842_B  00003862_b           1  -1
          663800  0023842_B  00009300_b           1  -1
          663814  0023842_B  00003862_b           1  -1
          663802  0023842_B  00007943_b           1  -1
          663821  0023842_B  00013301_b           1  -1

                              time_stamp
user_id
0000000_B 28     2017-04-01 03:55:17.110
          2      2017-04-01 03:56:31.945
          0      2017-04-01 03:57:12.488
          12     2017-04-01 03:58:26.498
          11     2017-04-01 03:59:06.620
...                                  ...
0023842_B 663815 2017-04-22 10:21:44.053
          663800 2017-04-22 10:22:15.865
          663814 2017-04-22 10:23:18.563
          663802 2017-04-22 10:24:12.534
          663821 2017-04-22 10:29:30.122

[1113425 rows x 5 columns]

In [20]:
data_u.loc['0000010_B']

          user_id  product_id  event_type  ad              time_stamp
351280  0000010_B  00007375_b           1  -1 2017-04-02 12:18:14.810
351276  0000010_B  00016319_b           1  -1 2017-04-02 12:22:12.114
351275  0000010_B  00016319_b           1  -1 2017-04-02 12:22:24.641
351277  0000010_B  00011168_b           1  -1 2017-04-02 12:25:53.274
351278  0000010_B  00011599_b           1  -1 2017-04-02 12:30:17.062
351279  0000010_B  00011599_b           1  -1 2017-04-02 12:31:03.607
351298  0000010_B  00003683_b           1  -1 2017-04-19 10:58:09.689
351297  0000010_B  00003683_b           1  -1 2017-04-19 11:00:30.468
351281  0000010_B  00010114_b           1  -1 2017-04-19 11:05:55.209
351301  0000010_B  00013685_b           1  -1 2017-04-19 11:11:55.395
351302  0000010_B  00013685_b           1  -1 2017-04-19 11:14:41.199
351289  0000010_B  00013635_b           1  -1 2017-04-19 11:16:26.713
351288  0000010_B  00013635_b           1  -1 2017-04-19 11:17:51.380
351287  0000010_B  00013635_b           1  -1 2017-04-19 11:18:37.307
351291  0000010_B  00009248_b           1  -1 2017-04-19 11:20:54.628
351290  0000010_B  00009248_b           1  -1 2017-04-19 11:23:53.308
351292  0000010_B  00009248_b           1  -1 2017-04-19 11:24:50.419
351299  0000010_B  00009153_b           1  -1 2017-04-19 11:30:33.432
351300  0000010_B  00009153_b           1  -1 2017-04-19 11:31:22.740
351303  0000010_B  00011060_b           1  -1 2017-04-19 11:41:38.930
351296  0000010_B  00003227_b           1  -1 2017-04-19 11:45:16.815
351294  0000010_B  00008693_b           1  -1 2017-04-19 12:11:48.798
351295  0000010_B  00008693_b           1  -1 2017-04-19 12:12:41.692
351293  0000010_B  00008693_b           1  -1 2017-04-19 12:14:28.429
351285  0000010_B  00010114_b           1  -1 2017-04-19 12:17:19.959
351283  0000010_B  00010114_b           1  -1 2017-04-19 12:17:35.118
351284  0000010_B  00010114_b           1  -1 2017-04-19 12:19:06.406
351282  0000010_B  00010114_b           1  -1 2017-04-19 12:19:40.056
351286  0000010_B  00010114_b           1  -1 2017-04-19 12:19:51.171

In [21]:
data_u.loc['0000010_B']['product_id'].unique()

array(['00007375_b', '00016319_b', '00011168_b', '00011599_b',
       '00003683_b', '00010114_b', '00013685_b', '00013635_b',
       '00009248_b', '00009153_b', '00011060_b', '00003227_b',
       '00008693_b'], dtype=object)

In [22]:
len(data['product_id'].unique())

16894

In [23]:
data_u.loc['0000010_B']['event_type'].value_counts()

1    29
Name: event_type, dtype: int64

In [24]:
ymd = data_u.loc['0000010_B']['time_stamp'].unique()

In [25]:
ymd

array(['2017-04-02T12:18:14.810000000', '2017-04-02T12:22:12.114000000',
       '2017-04-02T12:22:24.641000000', '2017-04-02T12:25:53.274000000',
       '2017-04-02T12:30:17.062000000', '2017-04-02T12:31:03.607000000',
       '2017-04-19T10:58:09.689000000', '2017-04-19T11:00:30.468000000',
       '2017-04-19T11:05:55.209000000', '2017-04-19T11:11:55.395000000',
       '2017-04-19T11:14:41.199000000', '2017-04-19T11:16:26.713000000',
       '2017-04-19T11:17:51.380000000', '2017-04-19T11:18:37.307000000',
       '2017-04-19T11:20:54.628000000', '2017-04-19T11:23:53.308000000',
       '2017-04-19T11:24:50.419000000', '2017-04-19T11:30:33.432000000',
       '2017-04-19T11:31:22.740000000', '2017-04-19T11:41:38.930000000',
       '2017-04-19T11:45:16.815000000', '2017-04-19T12:11:48.798000000',
       '2017-04-19T12:12:41.692000000', '2017-04-19T12:14:28.429000000',
       '2017-04-19T12:17:19.959000000', '2017-04-19T12:17:35.118000000',
       '2017-04-19T12:19:06.406000000', '2017-04-19T12:19:40.056000000',
       '2017-04-19T12:19:51.171000000'], dtype='datetime64[ns]')

In [31]:
ymd = data_u.loc['0000010_B']['time_stamp'].apply(lambda x: x.date()).unique()

In [32]:
ymd

array([datetime.date(2017, 4, 2), datetime.date(2017, 4, 19)],
      dtype=object)

In [30]:
data_u.loc['0000010_B']['time_stamp'].apply(lambda x: x.date())

351280    2017-04-02
351276    2017-04-02
351275    2017-04-02
351277    2017-04-02
351278    2017-04-02
351279    2017-04-02
351298    2017-04-19
351297    2017-04-19
351281    2017-04-19
351301    2017-04-19
351302    2017-04-19
351289    2017-04-19
351288    2017-04-19
351287    2017-04-19
351291    2017-04-19
351290    2017-04-19
351292    2017-04-19
351299    2017-04-19
351300    2017-04-19
351303    2017-04-19
351296    2017-04-19
351294    2017-04-19
351295    2017-04-19
351293    2017-04-19
351285    2017-04-19
351283    2017-04-19
351284    2017-04-19
351282    2017-04-19
351286    2017-04-19
Name: time_stamp, dtype: object

In [35]:
data_u.loc['00000010_B']['time_stamp']

KeyError: '00000010_B'