In [1]:
!ls input/

sample_submit.tsv  train  train.zip

In [2]:
import pandas as pd

In [5]:
data = pd.read_csv('input/train_B.tsv', sep='\t')

In [4]:
data.head

<bound method NDFrame.head of                                            user_id\tproduc  _id\teven   _  \
0        0000000_B\t00004491_b\t1\t-1\t2017-04-01 03:57...        NaN NaN
1        0000000_B\t00004491_b\t1\t-1\t2017-04-01 10:15...        NaN NaN
2        0000000_B\t00004491_b\t1\t-1\t2017-04-01 03:56...        NaN NaN
3        0000000_B\t00004491_b\t1\t-1\t2017-04-24 03:36...        NaN NaN
4        0000000_B\t00009992_b\t1\t-1\t2017-04-01 10:18...        NaN NaN
...                                                    ...        ...  ..
1113420  0023498_B\t00014942_b\t1\t-1\t2017-04-25 05:38...        NaN NaN
1113421  0023498_B\t00009823_b\t1\t-1\t2017-04-28 00:40...        NaN NaN
1113422  0023498_B\t00004706_b\t1\t-1\t2017-04-28 00:31...        NaN NaN
1113423  0023498_B\t00004706_b\t1\t-1\t2017-04-28 00:25...        NaN NaN
1113424  0023498_B\t00000148_b\t1\t-1\t2017-04-28 00:17...        NaN NaN

         ype\tad\t  ime_s  amp
0              NaN    NaN  NaN
1              NaN    NaN  NaN
2              NaN    NaN  NaN
3              NaN    NaN  NaN
4              NaN    NaN  NaN
...            ...    ...  ...
1113420        NaN    NaN  NaN
1113421        NaN    NaN  NaN
1113422        NaN    NaN  NaN
1113423        NaN    NaN  NaN
1113424        NaN    NaN  NaN

[1113425 rows x 6 columns]>

In [6]:
data.head()

     user_id  product_id  event_type  ad               time_stamp
0  0000000_B  00004491_b           1  -1  2017-04-01 03:57:12.488
1  0000000_B  00004491_b           1  -1  2017-04-01 10:15:21.492
2  0000000_B  00004491_b           1  -1  2017-04-01 03:56:31.945
3  0000000_B  00004491_b           1  -1  2017-04-24 03:36:28.216
4  0000000_B  00009992_b           1  -1  2017-04-01 10:18:00.540

In [7]:
data.dtypes

user_id       object
product_id    object
event_type     int64
ad             int64
time_stamp    object
dtype: object

In [8]:
ts = pd.to_datetime(data['time_stamp'])

Max = max(ts)
Min = min(ts)

In [10]:
print(Max-Min)

29 days 23:59:56.287000

In [11]:
users = data['user_id'].unique()
users

array(['0000000_B', '0000196_B', '0000306_B', ..., '0010566_B',
       '0006446_B', '0023498_B'], dtype=object)

In [12]:
len(users)

23843

In [13]:
data['event_type'].value_counts()

1    1035637
0      52639
3      21710
2       3439
Name: event_type, dtype: int64

In [14]:
data['time_stamp'] = ts

In [15]:
data['time_stamp'].dtype

dtype('<M8[ns]')

In [16]:
ts

0         2017-04-01 03:57:12.488
1         2017-04-01 10:15:21.492
2         2017-04-01 03:56:31.945
3         2017-04-24 03:36:28.216
4         2017-04-01 10:18:00.540
                    ...
1113420   2017-04-25 05:38:05.889
1113421   2017-04-28 00:40:57.531
1113422   2017-04-28 00:31:15.306
1113423   2017-04-28 00:25:47.358
1113424   2017-04-28 00:17:56.048
Name: time_stamp, Length: 1113425, dtype: datetime64[ns]