In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

data = pd.read_csv('input/train_B.tsv',sep='\t' )

In [2]:
ts = pd.to_datetime(data['time_stamp'])

In [3]:
data['time_stamp'] = ts

In [ ]:
data_up = data.groupby(['user_id','product_id']).apply(lambda x: x.sort_values('time_stamp'))

In [5]:
data_up

                               user_id  product_id  event_type  ad  \
user_id   product_id
0000000_B 00001472_b 42      0000000_B  00001472_b           1  -1
                     43      0000000_B  00001472_b           1  -1
          00003875_b 30      0000000_B  00003875_b           1  -1
          00004491_b 2       0000000_B  00004491_b           1  -1
                     0       0000000_B  00004491_b           1  -1
...                                ...         ...         ...  ..
0023842_B 00013632_b 663827  0023842_B  00013632_b           1  -1
                     663832  0023842_B  00013632_b           0  -1
                     663835  0023842_B  00013632_b           0  -1
                     663837  0023842_B  00013632_b           3   0
          00015165_b 663804  0023842_B  00015165_b           1  -1

                                         time_stamp
user_id   product_id
0000000_B 00001472_b 42     2017-04-24 03:52:57.774
                     43     2017-04-24 03:53:42.731
          00003875_b 30     2017-04-15 03:45:04.560
          00004491_b 2      2017-04-01 03:56:31.945
                     0      2017-04-01 03:57:12.488
...                                             ...
0023842_B 00013632_b 663827 2017-04-08 02:00:10.313
                     663832 2017-04-08 02:07:03.595
                     663835 2017-04-08 02:07:44.027
                     663837 2017-04-08 02:09:14.398
          00015165_b 663804 2017-04-09 13:24:00.476

[1113425 rows x 5 columns]