In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

data = pd.read_csv('input/train_B.tsv',sep='\t' )

In [2]:
ts = pd.to_datetime(data['time_stamp'])

In [3]:
data['time_stamp'] = ts

In [5]:
data.dtypes

user_id               object
product_id            object
event_type             int64
ad                     int64
time_stamp    datetime64[ns]
dtype: object

In [6]:
data_p = data.groupby('product_id').apply(lambda x: x.sort_values('time_stamp'))

In [7]:
data_p.head()

                      user_id  product_id  event_type  ad  \
product_id
00000000_b 28291    0020791_B  00000000_b           1  -1
           35610    0017926_B  00000000_b           1  -1
           1048769  0020976_B  00000000_b           1  -1
           1048770  0020976_B  00000000_b           1  -1
00000001_b 205548   0001123_B  00000001_b           1  -1

                                time_stamp
product_id
00000000_b 28291   2017-04-07 11:16:01.489
           35610   2017-04-07 12:52:41.668
           1048769 2017-04-26 02:06:53.170
           1048770 2017-04-26 02:07:18.427
00000001_b 205548  2017-04-01 09:04:16.028

In [8]:
users = data_p.loc['00000001_b']['user_id'].unique()
users

array(['0001123_B', '0002897_B', '0008312_B', '0016915_B', '0009792_B',
       '0002930_B', '0017825_B', '0001291_B', '0022010_B', '0001962_B',
       '0012672_B', '0019611_B', '0021231_B', '0006621_B', '0012705_B',
       '0018317_B', '0020356_B', '0023759_B', '0006257_B', '0012740_B',
       '0011613_B', '0018190_B', '0006211_B', '0009408_B', '0018982_B',
       '0020271_B', '0001300_B', '0002606_B', '0005321_B', '0019160_B',
       '0012450_B', '0000783_B'], dtype=object)