In [2]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

In [13]:
a = np.arange(10).reshape(5,2)

In [14]:
a

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [15]:
aDF = pd.DataFrame(a)

In [16]:
aDF

   0  1
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

In [17]:
aDF.drop(1)

   0  1
0  0  1
2  4  5
3  6  7
4  8  9

In [22]:
aDF.drop([1,2])

   0  1
0  0  1
3  6  7
4  8  9

In [ ]:
df_data = df_data.drop([0,1,2,3,4])