In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('../data/train.csv', index_col=0, na_values="?")
test = pd.read_csv('../data/test.csv', index_col=0, na_values="?")

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
id,,,,,,,,,
0,23.059782,6,140,110.0,2815,17.977429,80,1,dodge aspen
3,17.674521,8,350,150.0,4456,13.514535,72,1,dodge rampage
4,17.136353,8,302,140.0,2774,13.209912,79,1,mercury cougar brougham
7,22.664666,6,400,85.0,2190,15.196381,71,1,pontiac j2000 se hatchback
9,17.872018,8,429,220.0,2245,9.621400,70,1,ford galaxie 500

In [4]:
mean = np.mean(df['horsepower'])

In [5]:
df['horsepower'].fillna(mean, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 997
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           500 non-null    float64
 1   cylinders     500 non-null    int64
 2   displacement  500 non-null    int64
 3   horsepower    500 non-null    float64
 4   weight        500 non-null    int64
 5   acceleration  500 non-null    float64
 6   model year    500 non-null    int64
 7   origin        500 non-null    int64
 8   car name      500 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 39.1+ KB

In [7]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [8]:
origin = df.pop('origin')

In [10]:
df['USA'] = (origin == 1) *1.0
df['Europe'] = (origin == 2) * 1.0
df['Japan'] = (origin == 3) * 1.0

In [11]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'car name', 'USA', 'Europe', 'Japan'],
      dtype='object')

In [12]:
train = df[['cylinders', 'displacement', 'horsepower', 'weight','acceleration', 'model year', 'USA', 'Europe','Japan']]

In [13]:
Y = df[['mpg']]

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
trainX, testX, trainY,testY = train_test_split(train, Y)

In [16]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
scaler = MinMaxScaler()

In [18]:
X_train_scale = scaler.fit_transform(trainX)

In [19]:
trainY_scale = scaler.fit_transform(trainY)

In [20]:
testX_scale = scaler.fit_transform(testX)

In [21]:
testY_scale = scaler.fit_transform(testY)

In [22]:
from sklearn import linear_model

In [23]:
clf = linear_model.LinearRegression()

In [24]:
clf.fit(trainX, trainY)

LinearRegression()

In [25]:
clf.score(testX, testY)

0.6428585214311082

In [76]:
clf.fit(X_train_scale, trainY_scale)

LinearRegression()

In [77]:
clf.score(testX_scale, testY_scale)

0.5913062821795884

,mpg,cylinders,displacement,weight,acceleration,model year,origin
id,,,,,,,
0,23.059782,6,140,2815,17.977429,80,1
3,17.674521,8,350,4456,13.514535,72,1
4,17.136353,8,302,2774,13.209912,79,1
7,22.664666,6,400,2190,15.196381,71,1
9,17.872018,8,429,2245,9.621400,70,1
...,...,...,...,...,...,...,...
981,22.798447,4,140,2835,13.477573,82,1
983,35.173640,4,97,2234,17.542681,80,3
994,17.825448,8,302,2774,15.177189,76,1
995,28.545147,4,97,2130,13.324669,70,1
997,36.011880,4,97,2300,15.364361,71,1

In [83]:
train.corr()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.739658,-0.605029,-0.261404,0.344398,0.422820,0.454347
cylinders,-0.739658,1.000000,0.726896,0.289985,-0.371380,-0.295352,-0.317010
displacement,-0.605029,0.726896,1.000000,0.349656,-0.314126,-0.375943,-0.321787
weight,-0.261404,0.289985,0.349656,1.000000,0.023480,-0.230062,-0.116487
acceleration,0.344398,-0.371380,-0.314126,0.023480,1.000000,0.167045,0.073709
model year,0.422820,-0.295352,-0.375943,-0.230062,0.167045,1.000000,0.122374
origin,0.454347,-0.317010,-0.321787,-0.116487,0.073709,0.122374,1.000000

In [30]:
trainX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375 entries, 896 to 120
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     375 non-null    int64
 1   displacement  375 non-null    int64
 2   horsepower    375 non-null    float64
 3   weight        375 non-null    int64
 4   acceleration  375 non-null    float64
 5   model year    375 non-null    int64
 6   USA           375 non-null    float64
 7   Europe        375 non-null    float64
 8   Japan         375 non-null    float64
dtypes: float64(5), int64(4)
memory usage: 29.3 KB

In [42]:
testX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     500 non-null    int64
 1   displacement  500 non-null    int64
 2   horsepower    494 non-null    float64
 3   weight        500 non-null    int64
 4   acceleration  500 non-null    float64
 5   model year    500 non-null    int64
 6   origin        500 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 51.2 KB

In [26]:
testX = test[['cylinders', 'displacement', 'horsepower', 'weight','acceleration', 'model year','origin' ]]

In [27]:
testX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     500 non-null    int64
 1   displacement  500 non-null    int64
 2   horsepower    494 non-null    float64
 3   weight        500 non-null    int64
 4   acceleration  500 non-null    float64
 5   model year    500 non-null    int64
 6   origin        500 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 31.2 KB

In [28]:
testX['horsepower'].fillna(mean, inplace=True)

/home/ma/.bin/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [29]:
origin = testX.pop('origin')

In [30]:
testX['USA'] = (origin == 1) *1.0
testX['Europe'] = (origin == 2) * 1.0
testX['Japan'] = (origin == 3) * 1.0

<ipython-input-30-a1b4407a3c9d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testX['USA'] = (origin == 1) *1.0

In [31]:
testX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     500 non-null    int64
 1   displacement  500 non-null    int64
 2   horsepower    500 non-null    float64
 3   weight        500 non-null    int64
 4   acceleration  500 non-null    float64
 5   model year    500 non-null    int64
 6   USA           500 non-null    float64
 7   Europe        500 non-null    float64
 8   Japan         500 non-null    float64
dtypes: float64(5), int64(4)
memory usage: 39.1 KB

In [32]:
pred = clf.predict(testX)

In [33]:
sample = pd.read_csv('../data/sample_submit.csv',header=None)

In [34]:
sample.head()

   0    1
0  1  0.0
1  2  0.0
2  5  0.0
3  6  0.0
4  8  0.0

In [35]:
sample[1] = pred

In [36]:
sample.head()

   0          1
0  1  31.242538
1  2  29.562998
2  5  29.163776
3  6  36.146022
4  8  32.554586

In [37]:
sample.to_csv('submit.csv', index=None, header=None)