In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('../data/train.csv', index_col=0, na_values="?")
test = pd.read_csv('../data/test.csv', index_col=0, na_values="?")

In [3]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [4]:
train = df[['cylinders', 'displacement', 'horsepower', 'weight','acceleration', 'model year', 'origin']]

In [5]:
Y = df[['mpg']]

In [6]:
origin = train.pop('origin')

In [7]:
train['USA'] = (origin == 1) *1.0
train['Europe'] = (origin == 2) * 1.0
train['Japan'] = (origin == 3) * 1.0
train.tail()

<ipython-input-7-15ec2172f347>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['USA'] = (origin == 1) *1.0
<ipython-input-7-15ec2172f347>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Europe'] = (origin == 2) * 1.0

,cylinders,displacement,horsepower,weight,acceleration,model year,USA,Europe,Japan
id,,,,,,,,,
981,4,140,148.0,2835,13.477573,82,1.0,0.0,0.0
983,4,97,67.0,2234,17.542681,80,0.0,0.0,1.0
994,8,302,220.0,2774,15.177189,76,1.0,0.0,0.0
995,4,97,150.0,2130,13.324669,70,1.0,0.0,0.0
997,4,97,150.0,2300,15.364361,71,1.0,0.0,0.0

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
trainX, testX, trainY,testY = train_test_split(train, Y)

In [10]:
from sklearn import linear_model, svm

In [11]:
from sklearn.ensemble import RandomForestRegressor

In [12]:
trainX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375 entries, 606 to 88
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     375 non-null    int64
 1   displacement  375 non-null    int64
 2   horsepower    369 non-null    float64
 3   weight        375 non-null    int64
 4   acceleration  375 non-null    float64
 5   model year    375 non-null    int64
 6   USA           375 non-null    float64
 7   Europe        375 non-null    float64
 8   Japan         375 non-null    float64
dtypes: float64(5), int64(4)
memory usage: 29.3 KB

In [13]:
mean = np.mean(trainX['horsepower'])

In [14]:
trainX['horsepower'].fillna(mean, inplace=True)

/home/ma/.bin/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [15]:
testX['horsepower'].fillna(mean, inplace=True)

In [16]:
clf = RandomForestRegressor()

In [17]:
clf.fit(trainX, trainY)

<ipython-input-17-a708d72faced>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(trainX, trainY)

RandomForestRegressor()

In [18]:
clf.score(testX, testY)

0.8451393056327079

In [82]:
train

,mpg,cylinders,displacement,weight,acceleration,model year,origin
id,,,,,,,
0,23.059782,6,140,2815,17.977429,80,1
3,17.674521,8,350,4456,13.514535,72,1
4,17.136353,8,302,2774,13.209912,79,1
7,22.664666,6,400,2190,15.196381,71,1
9,17.872018,8,429,2245,9.621400,70,1
...,...,...,...,...,...,...,...
981,22.798447,4,140,2835,13.477573,82,1
983,35.173640,4,97,2234,17.542681,80,3
994,17.825448,8,302,2774,15.177189,76,1
995,28.545147,4,97,2130,13.324669,70,1
997,36.011880,4,97,2300,15.364361,71,1

In [83]:
train.corr()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.739658,-0.605029,-0.261404,0.344398,0.422820,0.454347
cylinders,-0.739658,1.000000,0.726896,0.289985,-0.371380,-0.295352,-0.317010
displacement,-0.605029,0.726896,1.000000,0.349656,-0.314126,-0.375943,-0.321787
weight,-0.261404,0.289985,0.349656,1.000000,0.023480,-0.230062,-0.116487
acceleration,0.344398,-0.371380,-0.314126,0.023480,1.000000,0.167045,0.073709
model year,0.422820,-0.295352,-0.375943,-0.230062,0.167045,1.000000,0.122374
origin,0.454347,-0.317010,-0.321787,-0.116487,0.073709,0.122374,1.000000

In [30]:
trainX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375 entries, 896 to 120
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     375 non-null    int64
 1   displacement  375 non-null    int64
 2   horsepower    375 non-null    float64
 3   weight        375 non-null    int64
 4   acceleration  375 non-null    float64
 5   model year    375 non-null    int64
 6   USA           375 non-null    float64
 7   Europe        375 non-null    float64
 8   Japan         375 non-null    float64
dtypes: float64(5), int64(4)
memory usage: 29.3 KB

In [19]:
testX = test[['cylinders', 'displacement', 'horsepower', 'weight','acceleration', 'model year','origin' ]]

In [20]:
testX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     500 non-null    int64
 1   displacement  500 non-null    int64
 2   horsepower    494 non-null    float64
 3   weight        500 non-null    int64
 4   acceleration  500 non-null    float64
 5   model year    500 non-null    int64
 6   origin        500 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 31.2 KB

In [21]:
testX['horsepower'].fillna(mean, inplace=True)

/home/ma/.bin/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [22]:
origin = testX.pop('origin')

In [23]:
testX['USA'] = (origin == 1) *1.0
testX['Europe'] = (origin == 2) * 1.0
testX['Japan'] = (origin == 3) * 1.0
testX.tail()

<ipython-input-23-48dfa3fa9859>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testX['USA'] = (origin == 1) *1.0

,cylinders,displacement,horsepower,weight,acceleration,model year,USA,Europe,Japan
id,,,,,,,,,
992,4,225,105.0,3870,15.376311,76,1.0,0.0,0.0
993,4,140,112.0,2720,13.616843,82,1.0,0.0,0.0
996,8,318,110.0,2774,13.272636,75,1.0,0.0,0.0
998,4,90,75.0,2807,17.792560,77,1.0,0.0,0.0
999,4,90,69.0,2190,21.443561,72,0.0,1.0,0.0

In [24]:
testX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     500 non-null    int64
 1   displacement  500 non-null    int64
 2   horsepower    500 non-null    float64
 3   weight        500 non-null    int64
 4   acceleration  500 non-null    float64
 5   model year    500 non-null    int64
 6   USA           500 non-null    float64
 7   Europe        500 non-null    float64
 8   Japan         500 non-null    float64
dtypes: float64(5), int64(4)
memory usage: 39.1 KB

In [25]:
pred = clf.predict(testX)

In [26]:
sample = pd.read_csv('../data/sample_submit.csv',header=None)

In [27]:
sample.head()

   0    1
0  1  0.0
1  2  0.0
2  5  0.0
3  6  0.0
4  8  0.0

In [28]:
sample[1] = pred

In [29]:
sample.head()

   0          1
0  1  35.864609
1  2  30.950317
2  5  27.867590
3  6  31.530771
4  8  24.796948

In [30]:
sample.to_csv('submit.csv', index=None, header=None)