In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('../data/train.csv', index_col=0, na_values="?")
test = pd.read_csv('../data/test.csv', index_col=0, na_values="?")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 997
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           500 non-null    float64
 1   cylinders     500 non-null    int64
 2   displacement  500 non-null    int64
 3   horsepower    491 non-null    float64
 4   weight        500 non-null    int64
 5   acceleration  500 non-null    float64
 6   model year    500 non-null    int64
 7   origin        500 non-null    int64
 8   car name      500 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 39.1+ KB

In [4]:
origin = df.pop('origin')
df['USA'] = (origin==1) * 1.0
df['Europe']= (origin==2) * 1.0
df['Japan']= (origin==3) * 1.0

In [5]:
train = df[['cylinders',
             'displacement',
             'horsepower',
             'weight',
             'acceleration',
             'model year',
             'USA','Europe','Japan']]

Y = df[['mpg']]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 997
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     500 non-null    int64
 1   displacement  500 non-null    int64
 2   horsepower    491 non-null    float64
 3   weight        500 non-null    int64
 4   acceleration  500 non-null    float64
 5   model year    500 non-null    int64
 6   USA           500 non-null    float64
 7   Europe        500 non-null    float64
 8   Japan         500 non-null    float64
dtypes: float64(5), int64(4)
memory usage: 39.1 KB

In [10]:
mean = np.mean(train['horsepower'])
train['horsepower'].fillna(mean, inplace=True)
test['horsepower'].fillna(mean, inplace=True)

/home/ma/.bin/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [11]:
trainX, testX, trainY,testY = train_test_split(train, Y)

In [12]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

In [41]:
reg = RandomForestRegressor()

In [42]:
reg.fit(trainX, trainY)

<ipython-input-42-eb94878da8e1>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  reg.fit(trainX, trainY)

RandomForestRegressor()

In [43]:
reg.score(testX, testY)

0.7673430254840554

In [44]:
testX = test[['cylinders', 'displacement', 'horsepower', 'weight','acceleration', 'model year','origin' ]]

In [14]:
testX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     500 non-null    int64
 1   displacement  500 non-null    int64
 2   horsepower    494 non-null    float64
 3   weight        500 non-null    int64
 4   acceleration  500 non-null    float64
 5   model year    500 non-null    int64
 6   origin        500 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 31.2 KB

In [15]:
pred = clf.predict(testX)

In [16]:
sample = pd.read_csv('../data/sample_submit.csv',header=None)

In [17]:
sample.head()

   0    1
0  1  0.0
1  2  0.0
2  5  0.0
3  6  0.0
4  8  0.0

In [18]:
sample[1] = pred

In [19]:
sample.head()

   0          1
0  1  35.833637
1  2  28.348595
2  5  27.386175
3  6  31.152439
4  8  25.912031

In [20]:
sample.to_csv('submit.csv', index=None, header=None)