In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('../data/train.csv', index_col=0, na_values="?")
test = pd.read_csv('../data/test.csv', index_col=0, na_values="?")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 997
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           500 non-null    float64
 1   cylinders     500 non-null    int64
 2   displacement  500 non-null    int64
 3   horsepower    491 non-null    float64
 4   weight        500 non-null    int64
 5   acceleration  500 non-null    float64
 6   model year    500 non-null    int64
 7   origin        500 non-null    int64
 8   car name      500 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 39.1+ KB

In [4]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [5]:
train = df[['cylinders', 'displacement', 'horsepower', 'weight','acceleration', 'model year', 'origin']]

In [6]:
Y = df[['mpg']]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
trainX, testX, trainY,testY = train_test_split(train, Y)

In [9]:
import xgboost as xgb

In [10]:
clf = xgb.XGBRFRegressor()

In [11]:
clf.fit(trainX, trainY)

XGBRFRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
               colsample_bytree=1, gamma=0, gpu_id=-1, importance_type='gain',
               interaction_constraints='', max_delta_step=0, max_depth=6,
               min_child_weight=1, missing=nan, monotone_constraints='()',
               n_estimators=100, n_jobs=0, num_parallel_tree=100,
               objective='reg:squarederror', random_state=0, reg_alpha=0,
               scale_pos_weight=1, tree_method='exact', validate_parameters=1,
               verbosity=None)

In [12]:
clf.score(testX, testY)

0.8184683027205415

In [13]:
testX = test[['cylinders', 'displacement', 'horsepower', 'weight','acceleration', 'model year','origin' ]]

In [14]:
testX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     500 non-null    int64
 1   displacement  500 non-null    int64
 2   horsepower    494 non-null    float64
 3   weight        500 non-null    int64
 4   acceleration  500 non-null    float64
 5   model year    500 non-null    int64
 6   origin        500 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 31.2 KB

In [15]:
pred = clf.predict(testX)

In [16]:
sample = pd.read_csv('../data/sample_submit.csv',header=None)

In [17]:
sample.head()

   0    1
0  1  0.0
1  2  0.0
2  5  0.0
3  6  0.0
4  8  0.0

In [18]:
sample[1] = pred

In [19]:
sample.head()

   0          1
0  1  35.833637
1  2  28.348595
2  5  27.386175
3  6  31.152439
4  8  25.912031

In [20]:
sample.to_csv('submit.csv', index=None, header=None)