In [1]:
import pandas as pd
import numpy as np

In [2]:
ser1 = pd.Series([1,2,3])

In [3]:
ser2 = pd.Series({'a':30, 'b':30, 'c':50})

In [4]:
ser2.sum()

110

In [5]:
ser2.mean()

36.666666666666664

In [6]:
np.array([[1,2,3],[4,5,6]])

array([[1, 2, 3],
       [4, 5, 6]])

In [7]:
ser1 = pd.Series([1, 2, 3, 3, np.nan])

In [8]:
len(ser1)

5

In [9]:
ser1.count()

4

In [10]:
ser1.nunique()

3

In [11]:
len(ser1.value_counts())

3

In [12]:
ser1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])

ser2 = pd.Series([1, 'b', 3], index=['a', 2, 'c'])

ser3 = pd.Series(['a', 'b', 'c'], index=[1, 2, 3])

In [13]:
ser1.loc[['a']]

a    1
dtype: int64

In [14]:
ser1

a    1
b    2
c    3
dtype: int64

In [15]:
ser1.iloc[[0,1]]

a    1
b    2
dtype: int64

In [16]:
ser2.loc[['a',2]]

a    1
2    b
dtype: object

In [17]:
ser1

a    1
b    2
c    3
dtype: int64

In [18]:
ser2

a    1
2    b
c    3
dtype: object

In [19]:
ser3.loc[3]

'c'

In [20]:
a1 = np.arange(10)

In [29]:
ser1 = pd.Series(a1)

In [31]:
ser1[[True]*10]

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [32]:
ser1[a1>=10]

Series([], dtype: int64)

In [33]:
ser1[(ser1>2)&(ser1<2)]

Series([], dtype: int64)

In [34]:
ser1[(ser1 == 0) and (ser1 < 2)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [35]:
ser1[(ser1 > 0 | a1 < 7)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().